body {
    font-family: Arial, sans-serif;
    background-color: #98c4e6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #031a22;
    font-size: 24px;
}

#input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #3d3f41;
    border-radius: 5px;
}

#addButton {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: rgb(19, 3, 27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 320px;
}

li {
    background-color: rgb(108, 144, 192);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(8, 16, 29, 0.1);
}

.deleteButton {
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
}


.checkbox {
    margin-right: 10px;
}

span {
    flex-grow: 1;
}
